.product__list-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.product__list-item__image {
  width: 25%;
  max-height: 10%;
  padding: 15px;
}

.product__list-item__section {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: left;
}