h1 {
  color: steelblue;
  text-transform: uppercase;
  font-size: 3rem;
}

p {
  color: steelblue;
  font-size: 1.5rem;
}

li:nth-child(even) {
  color: orange;
}

.my_div {
  background-color: whitesmoke;
}
